//VARIABLES
//COLOR
$color_white: #ffffff;
$color_black: #171717;
$color_paragraph: #4f4f4f;
$color_buttons-borders-hover: #eb5757;
$color_buttons-hover-darker: #ae3c3c;
$color_buttons-download: #d7c2ff;
$color_gradient-linear: linear-gradient(135deg, #4e0062, #220076);
$color_background: #1b004e;
//FONTS
$font_family-poppins: "Poppins", sans-serif;
$font_family-inter: "Inter", system-ui;
$font_weight-bold: bold;
$font_weight-medium: 500;
$font_weight-body: 300;
$font_size-logo-mobile: 1.25rem;
$font_size-h1-mobile: 1.5rem;
$font_size-h2-mobile: 1.25rem;
$font_size-h3-mobile: 1.125rem;
$font_size-body-mobile: 0.875rem;
$font_size-p-mobile: 1rem;
$font_size-logo-dekstop: 1.5rem;
$font_size-button-mobile: 0.875rem;
