@import "./variables";

//GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: $color_white;
}

//NAVIGATION
.navigation_menu {
  padding: 2.631875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: $color_background;
  .logo_container {
    display: flex;
    align-items: center;
  }
  #logo_container-logo-image {
    width: 26px;
    height: 30px;
  }
  #logo-text {
    color: $color_white;
    font-family: $font_family-poppins;
    font-size: $font_size-logo-mobile;
    font-weight: $font_weight-bold;
  }
}
//Burger menu
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: $color_white;
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 200px;
  background-color: $color_background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
}

.nav-links a {
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover {
  color: #f39c12;
}

.nav-links.active {
  right: 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: $color_white;
  font-size: 3rem;
  cursor: pointer;
}
.close-btn:hover {
  color: #f39c12;
}

//HERO SECTION
.hero_section {
  padding: 0 1rem;
  background-color: $color_background;
  #hero-heading-text {
    font-size: $font_size-h1-mobile;
    color: $color_white;
    text-align: center;
    margin-bottom: 0.875rem;
  }
  #her-paragraph-text {
    font-size: $font_size-p-mobile;
    font-family: $font_family-inter;
    font-weight: $font_weight-body;
    color: $color_white;
    text-align: center;
  }
  #whitelist-button {
    color: $color_white;
    background-color: $color_buttons-borders-hover;
    font-weight: $font_weight-medium;
    font-size: $font_size-body-mobile;
    padding: 0.4375rem 0.875rem;
    border-radius: 50px;
    border: none;
    margin: 1.25rem auto 50px;
    display: block;
  }
  #hero-crypto-prices-text {
    font-size: $font_size-h2-mobile;
    font-weight: $font_weight-bold;
    text-align: center;
    color: white;
    padding-bottom: 1.875rem;
  }
}

//CRYPTO TABLE
.hero_crypto-table-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .crypto-table-name {
    font-size: $font_size-body-mobile;
    font-family: $font_family-inter;
    font-weight: $font_weight-medium;
  }
  .crypto-table-volume {
    text-align: end;
    margin-bottom: 1.25rem;
  }
  hr {
    grid-column: span 2;
    margin-bottom: 1.25rem;
  }
  .coin-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.25rem;

    .coin-icon {
      width: 24px;
      height: 24px;
    }
    .coin-text {
      font-size: $font_size-body-mobile;
      font-family: $font_family-inter;
      font-weight: $font_weight-medium;
    }
    .coin-symbol {
      font-size: 0.6875rem;
      color: gray;
    }
  }
  .coin-price {
    text-align: end;
  }
}

//SECOND SECTION

.second_section {
  color: black;
  background-color: $color_white;
  padding: 3.125rem 1rem 0;
  text-align: center;
  .second_section-main-text {
    font-size: $font_size-h2-mobile;
    padding-bottom: 1.875rem;
  }
  .card-icon {
    width: 65px;
    height: 70px;
    margin-bottom: 30px;
  }
  .card-title-text {
    font-size: $font_size-h3-mobile;
    font-weight: $font_weight-bold;
    font-family: $font_family-inter;
    margin-bottom: 20px;
  }
  .card-description {
    margin-bottom: 50px;
    font-size: $font_size-body-mobile;
    line-height: 2;
  }
}

//THIRD SECTION

.third-section {
  background-color: $color_background;
  padding: 3.125rem 1rem;
  text-align: center;
  .third-section-title {
    font-size: $font_size-h2-mobile;
    font-weight: $font_weight-bold;
    font-family: $font_family-poppins;
    margin-bottom: 0.625rem;
  }
  .third-section-description {
    font-size: $font_size-body-mobile;
    font-family: $font_family-inter;
    margin-bottom: 30px;
  }
  .phone-img {
    width: 202px;
    height: 215px;
    margin-bottom: 30px;
  }
}

//MEDIA

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}
