@import "./variables";

//GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: $color_white;
}

//NAVIGATION
.navigation_menu {
  padding: 2.631875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_background;
}
.logo_container {
  display: flex;
  align-items: center;
}

#logo_container-logo-image {
  width: 26px;
  height: 30px;
}
#burger-menu {
  width: 25px;
  height: 12.64px;
}

#logo-text {
  color: $color_white;
  font-family: $font_family-poppins;
  font-size: $font_size-logo-mobile;
  font-weight: $font_weight-bold;
}

//HERO SECTION
.hero_section {
  padding: 0 1rem;
  background-color: $color_background;
  #hero-heading-text {
    font-size: $font_size-h1-mobile;
    color: $color_white;
    text-align: center;
    margin-bottom: 0.875rem;
  }
  #her-paragraph-text {
    font-size: $font_size-p-mobile;
    font-family: $font_family-inter;
    font-weight: $font_weight-body;
    color: $color_white;
    text-align: center;
  }
  #whitelist-button {
    color: $color_white;
    background-color: $color_buttons-borders-hover;
    font-weight: $font_weight-medium;
    font-size: $font_size-body-mobile;
    padding: 0.4375rem 0.875rem;
    border-radius: 50px;
    border: none;
    margin: 1.25rem auto 50px;
    display: block;
  }
  #hero-crypto-prices-text {
    font-size: $font_size-h2-mobile;
    font-weight: $font_weight-bold;
    text-align: center;
    color: white;
    padding-bottom: 1.875rem;
  }
}

//CRYPTO TABLE
.hero_crypto-table-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .crypto-table-name {
    font-size: $font_size-body-mobile;
    font-family: $font_family-inter;
    font-weight: $font_weight-medium;
  }
  .crypto-table-volume {
    text-align: end;
    margin-bottom: 1.25rem;
  }
  hr {
    grid-column: span 2;
    margin-bottom: 1.25rem;
  }
  .coin-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.25rem;

    .coin-icon {
      width: 24px;
      height: 24px;
    }
    .coin-text {
      font-size: $font_size-body-mobile;
      font-family: $font_family-inter;
      font-weight: $font_weight-medium;
    }
    .coin-symbol {
      font-size: 0.6875rem;
      color: gray;
    }
  }
  .coin-price {
    text-align: end;
  }
}

//SECOND SECTION

.second_section {
  color: black;
  background-color: $color_white;
  padding: 3.125rem 1rem 0;
  text-align: center;
  .second_section-main-text {
    font-size: $font_size-h2-mobile;
    padding-bottom: 1.875rem;
  }
}
